* {
    font-family: Roboto;
    margin: 0;
}
.thumbnail{
    border-radius: 10px;
    width:265px; /*265 for optimal view in minimizing*/
}
.thumbnail-div{
    position: relative;
    cursor: pointer;
}
.title{
    display: flex;
    width: 265px;
    font-weight: 550;
}
.profile-pic{
    width: 36px;
    height: 36px;
    margin-top: 8px;
    margin-right: 12px;
    display: inline-block;
    border-radius: 20px;
}
.video-title{
    font-size: 13px;
    width: 265px;
    margin-top: 10px;
    display:inline-block;
    margin-bottom: 8px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
@media (max-width: 00){
    .side-bar{
        opacity: 0;
    }
}
.video-preview{
    display: inline-block;
    width: 265px;
    padding: 8px;
}
.channel-name, .video-status {
    width: 215px;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 50px;
    font-size: 12px;
    color: rgb(100, 100, 100);
}
.time{
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    right: 6px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.545);
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

